<launch>

<arg name="debug" default="false" />
<arg unless="$(arg debug)" name="launch_prefix" value="" />
<arg     if="$(arg debug)" name="launch_prefix"
     value="valgrind --tool=memcheck --leak-check=full --show-reachable=yes  --num-callers=20 --track-fds=yes  --log-file=/home/feymann/a.txt" />

  <!-- value="gdb - ex run - args" /> -->

<test launch-prefix="$(arg launch_prefix)" test-name="test" pkg="rosdyn_utilities" type="rosdyn_utilities_test" >

</test>


</launch>
